<abp-page [title]="isEditMode ? ('::EditSupplier' | abpLocalization) : ('::NewSupplier' | abpLocalization)">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0"><i class="fa fa-truck me-2"></i>Supplier Information</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-3">
            <label class="form-label">{{ '::SupplierName' | abpLocalization }} <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="name"
              [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched" />
            @if (form.get('name')?.errors?.['required'] && form.get('name')?.touched) {
              <div class="invalid-feedback">Required</div>
            }
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::SupplierCode' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="supplierCode" />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::Company' | abpLocalization }} <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="companyId"
              [class.is-invalid]="form.get('companyId')?.invalid && form.get('companyId')?.touched" />
            @if (form.get('companyId')?.errors?.['required'] && form.get('companyId')?.touched) {
              <div class="invalid-feedback">Required</div>
            }
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::TIN' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="tin" />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::RegistrationNumber' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="registrationNumber" />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::SSTRegistration' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="sstRegistrationNumber" />
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0"><i class="fa fa-address-book me-2"></i>Contact & Address</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::ContactPerson' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="contactPerson" />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::Phone' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label">{{ '::Email' | abpLocalization }}</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="col-12 mb-3">
            <label class="form-label">{{ '::Address' | abpLocalization }}</label>
            <textarea class="form-control" formControlName="address" rows="2"></textarea>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <label class="form-label">{{ '::City' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="city" />
          </div>
          <div class="col-12 col-md-4 mb-3">
            <label class="form-label">{{ '::State' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="state" />
          </div>
          <div class="col-12 col-md-4 mb-3">
            <label class="form-label">{{ '::PostalCode' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="postalCode" />
          </div>
          <div class="col-12 col-md-4 mb-3">
            <label class="form-label">{{ '::Country' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="country" />
          </div>
          <div class="col-12 col-md-4 mb-3 d-flex align-items-end">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="isActive" formControlName="isActive" />
              <label class="form-check-label" for="isActive">{{ '::Active' | abpLocalization }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-secondary" routerLink="/suppliers">
        <i class="fa fa-times me-1"></i>{{ '::Cancel' | abpLocalization }}
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        <i class="fa fa-save me-1"></i>{{ '::Save' | abpLocalization }}
      </button>
    </div>
  </form>
</abp-page>
