<abp-page [title]="isEditMode ? ('::EditEmployee' | abpLocalization) : ('::NewEmployee' | abpLocalization)">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0"><i class="fa fa-user me-2"></i>{{ '::Employee' | abpLocalization }}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::Company' | abpLocalization }}</label>
            <select class="form-select" formControlName="companyId">
              @for (c of companies(); track c.id) {
                <option [value]="c.id">{{ c.name }}</option>
              }
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::FirstName' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="firstName" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::LastName' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="lastName" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::DateOfBirth' | abpLocalization }}</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::DateOfJoining' | abpLocalization }}</label>
            <input type="date" class="form-control" formControlName="dateOfJoining" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::Designation' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="designation" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::Department' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="department" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::Phone' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">{{ '::Email' | abpLocalization }}</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">EPF Number</label>
            <input type="text" class="form-control" formControlName="epfNumber" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">SOCSO Number</label>
            <input type="text" class="form-control" formControlName="socsoNumber" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label class="form-label">Tax (PCB) Number</label>
            <input type="text" class="form-control" formControlName="taxNumber" />
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">{{ '::Cancel' | abpLocalization }}</button>
      <button type="submit" class="btn btn-primary">{{ '::Save' | abpLocalization }}</button>
    </div>
  </form>
</abp-page>
