<div class="table-responsive">
    <table class="table table-hover w-100">
    <thead>
      <tr>
        <th style="min-width: 150px;">Item</th>
        <th style="width: 80px;">Qty</th>
        <th style="width: 100px;">Rate</th>
        <th style="width: 80px;">Disc %</th>
        <th style="width: 100px;">Amount</th>
        <th style="width: 50px;"></th>
      </tr>
    </thead>
    <tbody>
      @for (row of dataSource; track $index ?? $index) {
        <tr>
          <td [formGroup]="row"><input class="form-control form-control-sm" formControlName="itemName" placeholder="Item name" /></td>
          <td></td>
          <td></td>
          <td></td>
          <td [formGroup]="row"><span class="font-monospace small">{{ row.get('amount')?.value | number:'1.2-2' }}</span></td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
</div>

<button class="btn btn-outline-primary btn-sm mt-3" type="button" (click)="addRow()">
  <i class="fa fa-plus me-1"></i><i class="fa fa-plus me-1"></i>Add Item</button>
